body{
    background-color: rgb(167, 222, 231);
    margin: 0;
    height: 100vh; /*Ocupa toda la pantalla disponible*/
}

.header{
    background-color: brown;
    height: 8vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header :first-child{
    margin: 0;
    font-size: 30px;
    color: white;

}
.header :last-child{
    margin: 0;
    font-size: 30px;
    color: white;
    padding-left: 10px;
}

.gameboard{
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    border-radius: 50%;
    margin: 70px auto;
    max-height: 60vh;
    max-width: 60vh;
}

.footer{
    background-color: rgb(30, 109, 255);
    height: 7vh;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.color{
    height: 50%;
    width: 50%;
    display: inline-block;
}

.left{
    float: left;
}

.right{
    float: right;
}

.celeste {
    background: #22a6b3;
}
.celeste.light {
    background: #7ed6df;
}

.violeta {
    background: #be2edd;
}
.violeta.light {
    background: #e056fd;
}

.naranja {
    background: #f0932b;
}
.naranja.light {
    background: #ffbe76;
}

.verde {
    background: #6ab04c;
}
.verde.light {
    background: #badc58;
}

.btn-start{
    width: 450px;
    height: 100px;
    background-color: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 225px);
} 

.hide{
    display: none;  /*Me oculta el elemento*/
}
